@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
@font-face {
  font-family: "Christmas Script C";
  src: url("/fonts/Christmas_ScriptC.ttf");
}
header {
  background-image: url(/images/header-back.jpg);
  background-size: cover;
  background-position: calc(100%);
  padding-bottom: 12rem;
}
@media (max-width: 769px) {
  header {
    padding-right: 30px;
    width: 993px;
    padding-left: 30px;
  }
}

.header-start {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  padding-top: 1.5rem;
}

.header-logo {
  font-family: "Christmas Script C";
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 769px) {
  .header-logo {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .header-logo {
    font-size: 6rem;
  }
}

.header-sent {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 9rem;
}
@media (max-width: 769px) {
  .header-sent {
    width: 11rem;
  }
}
@media (max-width: 769px) {
  .header-sent {
    width: inherit;
  }
}
.header-sent img {
  width: 2rem;
}
@media (max-width: 769px) {
  .header-sent img {
    width: 3rem;
  }
}
@media (max-width: 480px) {
  .header-sent img {
    width: 6rem;
  }
}
.header-sent p {
  margin-top: 0.7rem;
  font-family: "Lora", serif;
  font-size: 1.1rem;
  text-decoration: underline;
}
@media (max-width: 769px) {
  .header-sent p {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .header-sent p {
    display: none;
  }
}

.header-block {
  display: flex;
}
.header-block .header-title {
  width: 410px;
}
@media (max-width: 480px) {
  .header-block .header-title {
    width: 800px;
  }
}
.header-block .header-title h2 {
  margin-bottom: 1.6rem;
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 480px) {
  .header-block .header-title h2 {
    font-size: 5.5rem;
    margin-bottom: 5.6rem;
  }
}
.header-block .header-title button {
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.55px;
  letter-spacing: 0.55px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  opacity: 0.8;
  border: none;
  padding: 0.6rem 1.7rem;
}
@media (max-width: 480px) {
  .header-block .header-title button {
    font-size: 45px;
  }
}
.header-block .header-title button:hover {
  background-color: #acacac;
}
.header-block .header-image {
  position: relative;
  right: 2rem;
}
@media (max-width: 480px) {
  .header-block .header-image {
    display: none;
  }
}

.link-header {
  margin-bottom: 80px;
  margin-top: -60px;
  text-align: center;
}
@media (max-width: 480px) {
  .link-header img {
    width: 70px;
  }
}
@media (max-width: 769px) {
  .link-header {
    width: 993px;
  }
}

.quote {
  margin-bottom: 90px;
}
@media (max-width: 769px) {
  .quote {
    width: 993px;
  }
}
.quote span {
  font-family: "Christmas Script C";
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 8px;
}
.quote span:last-child {
  font-family: "Amaranth", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: underline;
}
@media (max-width: 769px) {
  .quote span:last-child {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .quote span:last-child {
    font-size: 50px;
    line-height: normal;
    width: 870px;
  }
}

.quote-title {
  text-align: center;
  font-family: "Christmas Script C";
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .quote-title {
    font-size: 100px;
  }
}

.quote-text {
  font-family: "Amaranth", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  width: 711px;
  margin: 0 auto;
}
@media (max-width: 769px) {
  .quote-text {
    font-size: 25px;
    line-height: 25px;
    width: 760px;
  }
}
@media (max-width: 480px) {
  .quote-text {
    font-size: 50px;
    line-height: normal;
    width: 870px;
  }
}

.divider {
  margin-bottom: 130px;
  border: none;
  height: 4px;
  color: #dddddd;
  background-color: #dddddd;
}
@media (max-width: 769px) {
  .divider {
    width: 993px;
  }
}

.circle-link {
  text-align: center;
  margin-bottom: -50px;
}
@media (max-width: 769px) {
  .circle-link {
    width: 993px;
  }
}

.weapon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
  width: 890px;
}
@media (max-width: 480px) {
  .weapon {
    flex-direction: column-reverse;
  }
}
.weapon .rapid-weapon-1 {
  width: 490px;
  height: 271px;
}
@media (max-width: 769px) {
  .weapon .rapid-weapon-1 {
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .weapon .rapid-weapon-1 {
    width: 900px;
    height: 700px;
    padding-left: 35px;
    margin: 0 auto;
  }
}
.weapon .rapid-weapon-2 {
  width: 453px;
  height: 393px;
  margin-left: 130px;
}
@media (max-width: 769px) {
  .weapon .rapid-weapon-2 {
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .weapon .rapid-weapon-2 {
    width: 900px;
    height: 700px;
    padding-left: 35px;
    margin: 0 auto;
  }
}
.weapon .rapid-weapon-3 {
  width: 470px;
  height: 360px;
}
@media (max-width: 769px) {
  .weapon .rapid-weapon-3 {
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .weapon .rapid-weapon-3 {
    width: 900px;
    height: 700px;
    margin: 0 auto;
  }
}

.weapon-info {
  margin-left: 70px;
  margin-bottom: 35px;
  width: 340px;
}
@media (max-width: 480px) {
  .weapon-info {
    width: inherit;
  }
}
.weapon-info h3 {
  font-family: "Amaranth", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 37px;
}
@media (max-width: 480px) {
  .weapon-info h3 {
    font-size: 75px;
  }
}
.weapon-info p {
  font-family: "Amaranth", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  .weapon-info p {
    font-size: 45px;
  }
}
.weapon-info button {
  padding: 8px 45px;
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #dddddd;
  background-color: #dddddd;
}
@media (max-width: 480px) {
  .weapon-info button {
    font-size: 50px;
  }
}

.count-weapon {
  display: flex;
  justify-content: space-between;
  width: 340px;
}
@media (max-width: 480px) {
  .count-weapon {
    display: none;
  }
}
.count-weapon .first-count {
  display: flex;
  justify-content: space-between;
  line-height: 115%;
  width: 100px;
}
.count-weapon .first-count h4 {
  font-family: "Amaranth", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.count-weapon .first-count p {
  font-family: "PT Serif";
  font-size: 35px;
  font-weight: 400;
  margin-top: 10px;
}
.count-weapon .second-count {
  display: flex;
  justify-content: space-between;
  line-height: 115%;
  width: 140px;
  margin-right: 45px;
}
.count-weapon .second-count h4 {
  font-family: "Amaranth", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.count-weapon .second-count p {
  font-family: "PT Serif";
  font-size: 35px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;
}

.second-count.third {
  margin-right: 0;
}

@media (max-width: 480px) {
  .weapon.second {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .facilities {
    width: 993px;
  }
}

.facility {
  margin-bottom: 95px;
}
.facility h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 480px) {
  .facility h2 {
    font-size: 70px;
  }
}

.facilities-images {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .facilities-images {
    flex-direction: column;
  }
}
.facilities-images img {
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .facilities-images img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}
.facilities-images h5 {
  font-family: "Amaranth", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 480px) {
  .facilities-images h5 {
    font-size: 75px;
    line-height: normal;
  }
}
@media (max-width: 480px) {
  .facilities-images .first-facility {
    margin-bottom: 150px;
    margin-top: 100px;
  }
}
.facilities-images .first-facility img {
  margin-top: 20px;
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .facilities-images .first-facility img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .facilities-images .second-facility {
    margin-bottom: 150px;
  }
}
.facilities-images .second-facility img {
  margin-left: 15px;
  margin-bottom: 17px;
}
@media (max-width: 480px) {
  .facilities-images .second-facility img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .facilities-images .third-facility {
    margin-bottom: 150px;
  }
}
.facilities-images .third-facility img {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .facilities-images .third-facility img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .facilities-images .fourth-facility {
    margin-bottom: 150px;
  }
}
.facilities-images .fourth-facility img {
  margin-left: 18px;
}
@media (max-width: 480px) {
  .facilities-images .fourth-facility img {
    display: block;
    margin: 0 auto;
  }
}

.feedback {
  margin: 0 auto;
  width: 690px;
}
.feedback h2 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 62px;
}
@media (max-width: 480px) {
  .feedback h2 {
    font-size: 78px;
  }
}
.feedback .quote-icons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 95px;
}
@media (max-width: 480px) {
  .feedback .quote-icons img {
    width: 400px;
    margin-top: 80px;
  }
}

.feedback-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .feedback-block {
    flex-direction: column;
  }
}
.feedback-block .feedback-img {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 480px) {
  .feedback-block .feedback-img img:nth-child(odd) {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .feedback-block .feedback-img {
    display: block;
    margin: 0 auto;
    width: 350px;
  }
}
.feedback-block .feedback-img .quote-feedback {
  position: absolute;
  left: 135px;
}
@media (max-width: 480px) {
  .feedback-block .feedback-img .quote-feedback {
    left: 275px;
    top: 10px;
  }
}

.feedback-text {
  margin-top: 10px;
  margin-left: 65px;
}
.feedback-text p {
  font-family: "Amaranth", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 480px) {
  .feedback-text p {
    margin-top: 70px;
    font-size: 40px;
  }
}
.feedback-text h5 {
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: end;
  margin-top: 25px;
}
@media (max-width: 480px) {
  .feedback-text h5 {
    font-size: 35px;
  }
}

footer {
  background-image: url("/images/footer-back.png");
  padding-top: 120px;
  padding-bottom: 60px;
}
@media (max-width: 769px) {
  footer {
    width: 993px;
    padding: 0;
  }
}
footer h2 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  footer h2 {
    font-size: 62px;
    margin-top: 40px;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}
@media (max-width: 480px) {
  .form-group {
    flex-direction: column;
    margin: 0;
  }
}
.form-group :first-child {
  width: 360px;
  height: 51px;
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 6px;
}
@media (max-width: 480px) {
  .form-group :first-child {
    width: 465px;
    height: 90px;
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.form-group :last-child {
  width: 360px;
  height: 51px;
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 6px;
}
@media (max-width: 480px) {
  .form-group :last-child {
    width: 465px;
    height: 90px;
    font-size: 35px;
    margin-bottom: 30px;
  }
}

.in-1:focus {
  border: 1.5px solid #acacac;
  outline: 0;
}

.in-2:focus {
  border: 1.5px solid #acacac;
  outline: 0;
}

textarea {
  padding: 10px;
  width: 750px;
  height: 136px;
  resize: none;
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  margin: 15px auto 0;
}
@media (max-width: 480px) {
  textarea {
    height: 230px;
    font-size: 35px;
    margin: 0;
  }
}

textarea:focus {
  border: 1.5px solid #acacac;
  outline: 0;
}

textarea::placeholder {
  font-family: "Amaranth", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 480px) {
  textarea::placeholder {
    font-size: 35px;
  }
}

.button {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .button {
    margin-top: 0;
  }
}
.button button {
  width: 232px;
  height: 46px;
  background-color: #dddddd;
  border: none;
  font-family: "Amaranth", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 480px) {
  .button button {
    font-size: 40px;
    font-weight: 400;
    padding: 20px 120px;
    width: inherit;
    height: inherit;
    margin-top: 20px;
  }
}
.button button:focus {
  border: 0.5px solid #acacac;
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: "Amaranth", sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
}

button {
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: #b48d8d;
}

/*# sourceMappingURL=style.css.map */
